// _Base.scss
*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 50%; // 1rem = 8px, the core of minim's Base-8 system
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-muted);
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: var(--space-) 0;
}
section {
  padding: var(--space-xl) 0;
}
section > *:last-child {
  margin-bottom: 0;
}
a {
  color: var(--color-text);

  &:hover {
    text-decoration: none;
  }
}
button {
  border: none;
}
