button,
a.button {
    display: inline-block;
    height: 4.2rem;
    line-height: 4.2rem;
    padding: 0 var(--space-m);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: var(--font-size-s);
    font-weight: 700;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        background: var(--color-bg-dark);
    }
    &:active {
        transform: translateY(1px);
    }

/* ==========================================================================
   Variants
   ========================================================================== */

    &.button-primary {
        background: var(--color-theme-primary);
        color: var(--color-white);

        &:hover {
            background: var(--color-black);
        }
    }
    &.button-ghost {
        background: transparent;
        color: var(--color-text-dark);
        border-color: transparent;

        &:hover {
            border-color: var(--color-border);
        }
    }

/* ==========================================================================
   Sizes
   ========================================================================== */

    &.button-large {
        height: 5.6rem;
        line-height: 5.6rem;
        font-size: var(--font-size-m);
        padding: 0 var(--space-l);
    }
    &.button-small {
        height: 2.8rem;
        line-height: 2.8rem;
        padding: 0 var(--space-s);
    }
}