table {
    width: 100%;
    table-layout: fixed;
    
    td, th {
        text-align: left;
        vertical-align: top;
    }
    thead {
        display: table-header-group;
        background: var(--color-bg-lighter);
        color: var(--color-text-medium);
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        letter-spacing: 0.1em;

        th {
            padding: var(--space-s);
        }
    }
    tbody {
        td {
            padding: var(--space-m) var(--space-s);
        }
    }
}