code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  overflow-wrap: break-word;
  display: inline-block;
  color: var(--color-text-code);
  font-size: var(--font-size-s);
  background: var(--color-bg-lighter);
  padding: 0 var(--space-s);
  border-radius: var(--border-size-xs);
}

pre code {
  width: 100%;
  padding: var(--space-s) var(--space-m);
}

.align-x {
  align-items: center;
}
