:root {
  --color-bg: #111;
  --color-text: #fff;
  --color-text-muted: #8e979e;
  --color-accent: #00e4ff;

  --color-border: #3a3a3a;

  --space-xs: 0.5rem; // 4px
  --space-s: 1rem; // 8px
  --space-m: 2rem; // 16px
  --space-l: 3rem; // 24px
  --space-xl: 4rem; // 32px
  --space-2xl: 6rem; // 48px
  --space-3xl: 8rem; // 64px

  --color-link: var(--color-text);

  --grid-gutter: var(--space-s);
}

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1440px;
$breakpoint-ultra: 1800px;
