@import 'index.scss';


.md-bg-primary {
    background: var(--color-theme-primary);
    color: white;
}
.md-container {
    padding: 0 var(--space-xl);
    overflow-x: hidden;
}
.md-col {
    background: var(--color-bg-light);
    padding: var(--space-l) var(--space-s);
    text-align: center;
    border-radius: var(--space-s);
}
.md-section {
    margin: 0 calc(var(--space-xl) * -1);
    padding: var(--space-xl);
    border-top: 1px solid var(--color-theme-primary);
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0px;
    // background: var(--color-white);

    > .md-section {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        border: 0;
        height: auto;
    }
}

.md-radius-xs { border-radius: var(--space-xs); }
.md-radius-s { border-radius: var(--space-s); }

.md-spacer {
    display: block;

    &.md-spacer--xs {
        max-width: var(--space-xs);
        height: var(--space-xs);
    }
    &.md-spacer--s {
        max-width: var(--space-s);
        height: var(--space-s);
    }
    &.md-spacer--m {
        max-width: var(--space-m);
        height: var(--space-m);
    }
    &.md-spacer--l {
        max-width: var(--space-l);
        height: var(--space-l);
    }
    &.md-spacer--xl {
        max-width: var(--space-xl);
        height: var(--space-xl);
    }
    &.md-spacer--xxl {
        max-width: var(--space-xxl);
        height: var(--space-xxl);
    }
}

.md-padding {
    &.padding-s { padding: var(--space-s); }
    &.padding-m { padding: var(--space-m); }
}
.md-content {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family:'Poppins';
        text-transform: uppercase;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
        font-size: 1.5em;
            line-height: 1.5em;
    }
}
.md-section-header {
    width: 100%;
    margin-bottom: 1em;
    font-family:'Poppins';
    text-transform: uppercase;
    font-size: 2em;

    h2 {
        span {
            color: var(--color-theme-secondary);
            float: left;
            margin-right: var(--space-l);
        }
    }
    .row {
        flex-direction: row-reverse;
    }
    .md-num {
        color: var(--color-theme-secondary);
    }
}
nav.md-toc {
    padding: var(--space-xl);
    width: 100%;
    background: var(--color-theme-secondary);
    display: flex;
    flex: 1;

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    li {
        flex: 1;
        font-family:'Poppins';
        display: block;
        border-bottom: 1px solid var(--color-black);

        &.logo {
            flex: none;
        }

        &:first-child {
            border: none;
            margin-bottom: 2em;
        }
        &:last-child {
            border: none;
        }

        &.nav_item {
            text-transform: uppercase;
            font-size: 2em;

            &.active > a,
            &.active > a:hover {
                color: var(--color-theme-praimry);
                font-weight: 500;
            }
    
            a {
                color: var(--color-black);
                padding: var(--space-l) var(--space-s);
                display: block;
                height: 100%;
                align-content: center;
                
                &:hover {
                    background: var(--color-bg-lighter);
                }
            }
        }
        &.nav-section-title {
            font-size: var(--font-size-m);
            padding: var(--space-m) var(--space-s);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            flex: none;
        }
    }
}
.row {
    &.md-block {
        padding: 4em 0;
        border-top: 1px solid var(--color-border);
        flex-direction: column;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.md-info {
    background: #FFFDED;
    padding: var(--space-l);

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Breakpoints
@media (min-width: 40rem) {
    nav.md-toc {
        li.nav_item {
            font-size: 3em;
        }
    }
    .md-feature-desc {
        font-size: 1.25em;
        line-height: 1.5em;
        letter-spacing: -0.1rem;
    }
}
@media (min-width: 80rem) {
    nav.md-toc {
        position: fixed;
        top: 0;
        max-width: 32vw;
        height: 100vh;

        li.nav_item {
            font-size: 3em;
        }
    }
    .row {
        &.md-block {
            flex-direction: row;
        }
    }
    .md-num {
        flex: none;
        width: unset;
    }
    .md-container {
        margin-left: 32vw;
    }
}